.video-carousel .carousel .thumb {
  -webkit-transition: border 0.15s ease-in;
  -moz-transition: border 0.15s ease-in;
  -ms-transition: border 0.15s ease-in;
  -o-transition: border 0.15s ease-in;
  transition: border 0.15s ease-in;
  display: inline-block;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  max-height: 65px;
  max-width: 115px;
  height: 65px;
  width: 115px!important;
}
.video-carousel .carousel-root > div.carousel:last-child {
  position: absolute;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
}
.video-carousel .thumbs-wrapper .control-next {
  right: calc(50% - 410px)!important;
  width: 10px;
}
.video-carousel .thumbs-wrapper .control-prev {
  left: calc(50% - 410px)!important;
  width: 10px;
}
.video-carousel .carousel-slider .control-next {
  margin-right: 40px;
}
.video-carousel .carousel-slider .control-prev {
  margin-left: 40px;
}

@media only screen and (max-width: 960px) {
  .video-carousel .carousel .control-next.control-arrow {
    margin-right: 8px;
  }
  .video-carousel .carousel .control-prev.control-arrow {
    margin-left: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .video-carousel div:first-child {
    height: 100%;
    margin-bottom: 0;
  }
}

